<?xml version='1.0'?>

<launch>

    <!-- static tf for CARMA urdf -->
    <node name='carma_base_laser_link' pkg='tf' type='static_transform_publisher' args='0.0 0.0 0.0
										        0.0 0.0 0.0
										        carma_base_link
										        carma_laser 20' />

    <!-- CARMA to F1/10 communication node -->
    <node name='inter_stack_comms' pkg='carma_1tenth_nodes' type='inter_stack_comms.py' />

    <!-- laserscan to static pc2 -->
    <node name='laser_to_pcd' pkg='carma_1tenth_nodes' type='laser_to_pcd_ros.py' />

    <!-- static pc2 to dynamic pc2 -->
    <node name='transform_pc2' pkg='transform_point_cloud' type='transform_point_cloud_py.py' />

</launch>
