speed_to_erpm_gain: 7500
speed_to_erpm_offset: 0.0

tachometer_ticks_to_meters_gain: 0.00225
max_servo_speed: 3.2
servo_smoother_rate: 75.0
max_acceleration: 2.5
throttle_smoother_rate: 75.0
steering_angle_to_servo_gain: -1.15
steering_angle_to_servo_offset: 0.5

vesc_to_odom/publish_tf: False
wheelbase: .325

vesc_driver:
  port: /dev/ttyACM1
  duty_cycle_min: 0.0
  duty_cycle_max: 0.0
  current_min: 0.0
  current_max: 20.0
  brake_min: -20000.0
  brake_max: 20000.0
  speed_min: -20000
  speed_max: 20000
  position_min: 0.0
  position_max: 0.0
  servo_min: 0.05
  servo_max: 0.95
